[Unit]
Description=Spond Club API data importer

[Service]
User=root
Group=root
Type=oneshot
ExecStart=/data/hortenfv-member-import/run
SyslogIdentifier=hortenfv-member-import
